<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          
          <h4 class="card-title">Seja bem vindo(a) {{user?.user.username | titlecase}}</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" ngbDropdownToggle>
              <i class="now-ui-icons emoticons_satisfied"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
             
            </div>
          </div>
        </div>
        <div class="card-body">   
          <b>{{alunos}}</b>    
        </div>
      
      </div>
    </div>

 
  </div> 
</div>
