<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-body">  
    <h3 class="card-title">Criar mensalidade</h3>
  
    <form [formGroup]="form" (submit)="registroSubmit()">
        <div class="container">
          <div class="row">
            <div class="col-sm">
             
              <div class="md-form">
                <input mdbInput type="text" class="form-control" formControlName="amount" 
                appAllowDecimalNumber (blur)="transformTotal()" placeholder="Valor do boleto">
              </div>
            </div>  
            <div class="col-sm">
             
              <div class="md-form">
                <input mdbInput type="text" class="form-control" formControlName="nameClient" 
                 placeholder="Nome do cliente">
              </div>
            </div>             
      
          </div>  
 
        </div>
      
   
     
        <button type="submit" name="button" class="btn btn-primary btn-round "  [disabled]="!form.valid" >Criar mensalidade</button>
      </form>
    
      </div>
      <div>
      
    </div>
</div>
</div>
</div>
</div>
